$text-color: #FFFFFF;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: $text-color;
}

html {
  scroll-behavior: smooth;
  background-color: #000;
}


body {
  font-family: 'Rubic', sans-serif;
}
